<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
  <coverage>
    <include>
      <directory suffix=".php">inc</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Plugin Tests">
      <directory prefix="test-" suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
